.navbar {
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rebeccapurple;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Sol ve sağ tarafı ayırır */
    width: 100%;
}


.navbar-title {
    margin: 0;
    font-size: 1.5rem;
}

.navbar-menu ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-cart {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto; /* Sağ tarafa yaslar */
}

.cart-icon {
    font-size: 1.5rem;
    color: white;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}